.country{
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 15px;
    /* margin: 15px; */
    text-align: center;
}
.flag{
    max-width: 100%;
}
.fa-solid{
    font-size: 1.25rem;
}
.visited{
    background-color: lightgray;
    color: #242424;
}
.flex-button{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}