.country-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    justify-content: center;
    gap: 20px;
}
.list-visited{
    display: flex;
    gap: 6px;
    padding: 0;
}
.list-visited > li{
    list-style-type: none;
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 4px 12px;
    margin: 0;
}